GraphicsFramework/GraphicsFramework/GraphicsFramework.vcxproj.user
GraphicsFramework/GraphicsFramework/GraphicsFramework.vcxproj.filters

GraphicsFramework/GraphicsFramework/GraphicsFramework.vcxproj
GraphicsFramework/libs/
GraphicsFramework/.vs
GraphicsFramework/*.sln